**/.svn
**/.vs

*.obj
*.iobj
*.pch
*.ipch
*.pdb
*.ipdb
*.log
*.tlog
*.time-stamp
*.cache
*.exe
*.exp
*.xll
*.pyc
#*.txt
*.extension
*.suo
*.user
*.recipe

*.idb
*.lib
/ObjectHandler/gensrc/build/vc/buildflag
/QuantLibAddin/gensrc/build/vc/buildflag
*.ilk
*.lastbuildstate
*.unsuccessfulbuild
*.bak
*.enc
*.csv
*.dll
*.1
*.bin
*.o
*.a
*.so

#CMake folder
build/
cmake_build_debug/
cmake_build_release/
cmake_build/

#Cmake generated and user files
**/CMakeCache.txt
**/CMakeUserPresets.json
**/CTestTestfile.cmake
**/CPackConfig.cmake
**/cmake_install.cmake
**/install_manifest.txt
**/compile_commands.json